@{
    ViewBag.Title = "Pathlab Plus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/pathlab-plus-banner.jpg")">
    </div> 
</div>
 
<!--=============== BODY SECTION ======================-->
<div class="inner-page-section">
	<div class="wrapper clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> &gt; <span>Pathlab Plus</span></p>
        </div>
    	<h2 class="big-text">A Step Towards a Healthy Tomorrow</h2>
    	<h3 class="big-text-two">Join hands with Swapnil Diagnostics, and make a difference!</h3>
        <div class="clearfix">
    	<div class="about-box-left"> 
        	<h2>Vision for the Model</h2>
        </div>
    	<div class="about-box-right">
        	<p>A consumer outreach initiative that will allow them to book a diagnostics test or a health check-up by just scanning a QR code from their nearby pharmacies/chemists. A hassle free way for consumers to book FREE Home Collection slots and strong customer relationship bonding for pharmacists as well. <span style="color:#00ad4d; font-weight:900;">#PharmacyBhiDiagnosticsBhi</span></p>
        </div> 
        </div>
        <div class="owner-box">
        <div class="title-box">
        	<h2>Benefits to Pharmacy Owners</h2>
        </div>
        <div class="staff-section clearfix">
        	<div class="staff-box-three">
            	<div class="staff-pic-two">
                	<span><img src="@Url.Content("~/images/lp-1.png")">
                	<h3>No Investment</h3> </span>
                </div> 
            </div> 
        	<div class="staff-box-three">
            	<div class="staff-pic-two">
                	<span><img src="@Url.Content("~/images/lp-2.png")">
                	<h3>No Additional Infrastructure</h3> </span>
                </div> 
            </div> 
        	<div class="staff-box-three">
            	<div class="staff-pic-two">
                	<span><img src="@Url.Content("~/images/lp-3.png")">
                	<h3>Increased Client Acquisitions</h3></span>
                </div> 
            </div> 
        	<div class="staff-box-three">
            	<div class="staff-pic-two">
                	<span><img src="@Url.Content("~/images/lp-4.png")">
                	<h3>Daily Customer Sign-Up Tracker</h3></span>
                </div> 
            </div> 
        	<div class="staff-box-three">
            	<div class="staff-pic-two">
                	<span><img src="@Url.Content("~/images/lp-5.png")">
                	<h3>Training Materials for Pharmacists</h3> </span>
                </div> 
            </div> 
        	<div class="staff-box-three">
            	<div class="staff-pic-two">
                	<span><img src="@Url.Content("~/images/lp-6.png")">
                	<h3>Pharmacy Kit</h3></span>
                </div> 
            </div> 
        	<div class="staff-box-three">
            	<div class="staff-pic-two">
                	<span><img src="@Url.Content("~/images/lp-7.png")">
                	<h3>Maintenance of Prescription</h3></span>
                </div> 
            </div>  
        </div> 
        </div>
    </div>
</div>
 

<div class="consumer-section">
	<div class="wrapper">
    	<div class="title-box">
            <h2>#ScanKaro Benefits For the Consumers</h2>
            <p>Applicable only associated pharmacies of Swapnil Diagnostics</p>
        </div>
    	<div class="consumer-box-outer">
        	<h3>Scan to Get</h3>
            <div class="consumer-fild">
            	<ul class="clearfix">
                    <li><span>Free Home Collection</span> <img src="@Url.Content("~/images/c-3.png")"></li>
                    <li><span>NABL Accredited strong quality <br>control driven lab processes</span> <img src="@Url.Content("~/images/c-2.png")"></li>
                    <li><span>Smart Reports</span> <img src="@Url.Content("~/images/c-5.png")"></li>
                    <li><span>ISO Certified Home Collection <br>and Logistics Services</span> <img src="@Url.Content("~/images/c-4.png")"></li>
                    <li><span>Guaranteed Booking Slots</span> <img src="@Url.Content("~/images/c-6.png")"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="inner-page-section why-section">
	<div class="wrapper">
    	<div class="get-touch-outer">
        	<h2>Get In Touch</h2> 
             <div class="get-touch-fild clearfix">
            	<div class="half-length">
                	<div class="fild-box"> 
                        <input type="text" placeholder="Enter your first name and last name">
                    </div>
                </div>
            	<div class="half-length">
                	<div class="fild-box"> 
                        <input type="text" placeholder="Enter your 10 Digit mobile number">
                    </div>
                </div>
            	<div class="full-length">
                	<div class="fild-box"> 
                        <select>
                        	<option>Kolkata</option>
                        	<option>Delhi</option>
                        	<option>Mumbai</option>
                        	<option>Chennai</option> 
                        </select>
                    </div>
                </div> 
            	<div class="full-length">
                	<div class="fild-box">
                    	<button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

