@{
    ViewBag.Title = "Why PATHLAB Diagnostics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/why-banner.png")">
    </div> 
</div>
 
<!--=============== BODY SECTION ======================-->
<div class="inner-page-section why-section">
	<div class="wrapper clearfix">
    	<div class="clearfix">
            <div class="path-box">
                <p><a href="@Url.Action("Index","Home")">Home</a> &gt; <span>Why PATHLAB Diagnostics</span></p>
                <h3>Specialized diagnostics services by our team of experts</h3>
            </div>
            <div class="about-box-left"> 
                <h2>Why Us</h2>
            </div>
            <div class="about-box-right">
                <ul>
                    <li>We provide highly specialized pathology / clinical laboratory services to clinicians and specialists, hospitals, and patients. Our experienced team of Pathologists, Microbiologists, Geneticists, supported by a team of well-qualified technologists, ensures that every patient receives the best diagnostic care</li>
                    <li>Our pathology and laboratory services form an essential component of modern healthcare services, backed by comprehensive quality standards accreditation across a wide range of disciplines</li>
                    <li>We follow a ‘Quality First’ philosophy – all our laboratories follow national NABL & International CAP guidelines. </li>
                    <li>We are driven by an innovation-led transnational pharmaceutical company.</li>
                    <li>We have a strong leadership team with experience of building diagnostics businesses from scratch.</li>
                    <li>Our customer-first approach at the core of everything we do.</li>
                </ul>
                </div>
        </div>
        <div class="hc-pointers-outer no-green"> 
            <div class="title-box">
                <h2>Core Facilities</h2>
            </div>
            <div class="hc-pointers-container facility">
                <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/rJHPvG0sR9ruLBHovIsx.png")" alt="Anaemia"><h3>Hematology</h3></span>
                    
                </div>
                <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/5IAreontGKkMs9yAKM4H.png")" alt="Bone marrow and blood disorders"><h3>Biochemistry</h3></span>
                    
                </div>
                 <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/vTT53zJJWkusTtGyIO5M.png")" alt="Cancers like leukemia and lymphoma"><h3>Immunology</h3></span>
                    
                </div>
                 <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/396Fn42tiCC8jebq4ZrZ.png")" alt="Infections"><h3>Microbiology</h3></span>
                    
                </div>
                 <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/u7TE0oWJ0O987wg8UpGS.png")" alt="Chemotherapy side effects"><h3>Molecular Diagnostics</h3></span>
                    
                </div>
                 <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/yPg92yvVkdApLmS1sU8F.png")" alt="Vitamin and mineral deficiencies"><h3>Next gene sequencing</h3></span>
                    
                </div>
                 <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/LCNM5Tr256GVJuPaD4tD.png")" alt="Vitamin and mineral deficiencies"><h3>Histopathology and Cytology</h3></span>
                    
                </div>
                 <div class="hc-pointer">
                    <span><img src="@Url.Content("~/images/JbWA3TfBWYtc2mAjulb9.png")" alt="Vitamin and mineral deficiencies"><h3>Cytogenetics</h3></span>
                    
                </div>
            </div> 
        </div>
    </div>
</div>

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

