@{
    ViewBag.Title = "Life at PATHLAB Diagnostics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">inner-page-feature-outer
    	<img src="@Url.Content("~/images/diagnostics-banner.png")">
    </div> 
</div>
 
<!--=============== BODY SECTION ======================-->
<div class="inner-page-section why-section">
	<div class="wrapper-right clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> &gt; <span>Life at PATHLAB Diagnostics</span></p>
        </div>
    </div>
</div>
<div class="diagnostics-outer">
	<div class="wrapper clearfix"> 
    	<div class="diagnostics-box-right">
        	<img src="@Url.Content("~/images/d1.png")">
        </div>
    	<div class="diagnostics-box-left">
        	<h2>We take pride in our outstanding team.</h2>
        	<p>Our team defines who we are and what we do. We work together to make good health and well-being a way of life. Our goal is to help you be at your best every time.</p>
            <p>Our people are presented with ample opportunities to unlock their true potential and challenges that fuel growth. We encourage our team members to build ownership in all endeavors by assuming responsibility with passion and conviction. When you join our team, you are embarking on a progressive journey and one that is beyond a job it is a career. We invest in you to make sure you are reaching your goals while working towards our collective goals.</p>
        </div>
    </div>
</div>

<div class="inner-page-section why-section diagnostics">
	<div class="wrapper clearfix"> 
        <h3>Join the journey towards a higher goal –</h3>
        <h2>be a part of something bigger</h2>
    	<div class="bigger-box-right">
        	<img src="@Url.Content("~/images/life-at-lupin-image-2.png")">
        </div>
    	<div class="bigger-box-left">
        <h3>Being part of Lupin means</h3> 
        <ul>
        	<li>being a leader in your field. It means knowing that you are helping millions around the world enjoy better health.</li>
        	<li>taking pride in your work while maintaining the highest ethical standards and best practices that drive our business</li>
        	<li>championing collaboration and teamwork in a diverse team</li>
        	<li>being passionate about new challenges and thinking outside the box</li>
            <li>becoming part of a family that places great emphasis respect and care for one another</li>
            <li>We take pride not only in our medicines and healthcare offerings, but also the careers and minds that we empower and develop.</li>
        </ul>
        </div> 
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

