@{
    ViewBag.Title = "Retail Laboratory Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/retail-banner.jpg")">
    </div> 
</div>
 
<!--=============== BODY SECTION ======================-->
 
<div class="inner-page-section success-box-section">
	<div class="wrapper clearfix"> 
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> &gt; <span>Retail Laboratory Management </span></p>
        	<h3>Retail Laboratory Management</h3>
        </div>
        <div class="test-package-details" style="display:block;"> 
            <div class="Key-box-outer clearfix">  
                 <div class="retail-box">
                     <ul class="list bullet">
                        <li>External and Internal Lab Branding</li>
                        <li>All samples will be processed as per NABL guidelines and with standard quality protocol</li>
                        <li>Vast test menu (routine & specialized)</li>
                        <li>One sales executive for market development</li>
                        <li>EQAS and QC protocols followed from day one</li>
                        <li>Continuous training & development</li>
                        <li>Marketing support whenever required</li>
                    </ul>
                 </div>
            </div> 
        </div> 
        <div class="contactForm lupimitra-form">
        	<h3>Please fill in the details below and our team will contact you shortly</h3>
                    <form name="form_lupimitra" action="https://www.lupindiagnostics.com/api/store-lead" method="POST">
                    <div class="form-layout">
                        <div class="form-row">
                            <div class="form-grid">
                                <div class="form-field">
                                    <div class="input-group">
                                        <label for="name">Name</label>
                                        <input type="text" placeholder="Enter name here" name="name" class="name" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-grid">
                                <div class="form-field">
                                    <div class="input-group">
                                        <label for="city">City</label>
                                        <input type="text" list="cities" name="city" autocomplete="new-password" value="" placeholder="Select city">
                                        <datalist id="cities">
                                                                                                                                        <option value="Adilabad">
                                                                                            </option><option value="Warangal">
                                                                                            </option><option value="Karimnagar">
                                                                                            </option><option value="Mahabubnagar">
                                                                                            </option><option value="K.v.rangareddy">
                                                                                            </option><option value="Medak">
                                                                                            </option><option value="Nalgonda">
                                                                                            </option><option value="Nizamabad">
                                                                                            </option><option value="Hyderabad">
                                                                                            </option><option value="Anantapur">
                                                                                            </option><option value="Cuddapah">
                                                                                            </option><option value="Chittoor">
                                                                                            </option><option value="Kurnool">
                                                                                            </option><option value="Prakasam">
                                                                                            </option><option value="West Godavari">
                                                                                            </option><option value="Krishna">
                                                                                            </option><option value="Nellore">
                                                                                            </option><option value="Guntur">
                                                                                            </option><option value="Khammam">
                                                                                            </option><option value="East Godavari">
                                                                                            </option><option value="Visakhapatnam">
                                                                                            </option><option value="Pondicherry">
                                                                                            </option><option value="Vizianagaram">
                                                                                            </option><option value="Srikakulam">
                                                                                            </option><option value="Lakhimpur">
                                                                                            </option><option value="Dibrugarh">
                                                                                            </option><option value="Dhemaji">
                                                                                            </option><option value="Marigaon">
                                                                                            </option><option value="Nagaon">
                                                                                            </option><option value="Karbi Anglong">
                                                                                            </option><option value="Golaghat">
                                                                                            </option><option value="Sibsagar">
                                                                                            </option><option value="Jorhat">
                                                                                            </option><option value="Tinsukia">
                                                                                            </option><option value="Karimganj">
                                                                                            </option><option value="Cachar">
                                                                                            </option><option value="Darrang">
                                                                                            </option><option value="Sonitpur">
                                                                                            </option><option value="Bongaigaon">
                                                                                            </option><option value="Kokrajhar">
                                                                                            </option><option value="Goalpara">
                                                                                            </option><option value="Dhubri">
                                                                                            </option><option value="Kamrup">
                                                                                            </option><option value="Nalbari">
                                                                                            </option><option value="Barpeta">
                                                                                            </option><option value="Begusarai">
                                                                                            </option><option value="Khagaria">
                                                                                            </option><option value="Darbhanga">
                                                                                            </option><option value="Madhubani">
                                                                                            </option><option value="Muzaffarpur">
                                                                                            </option><option value="Samastipur">
                                                                                            </option><option value="Sitamarhi">
                                                                                            </option><option value="East Champaran">
                                                                                            </option><option value="Supaul">
                                                                                            </option><option value="Vaishali">
                                                                                            </option><option value="Purnia">
                                                                                            </option><option value="Araria">
                                                                                            </option><option value="Katihar">
                                                                                            </option><option value="Kishanganj">
                                                                                            </option><option value="Madhepura">
                                                                                            </option><option value="Saharsa">
                                                                                            </option><option value="Saran">
                                                                                            </option><option value="Siwan">
                                                                                            </option><option value="Bhojpur">
                                                                                            </option><option value="Sheohar">
                                                                                            </option><option value="Gopalganj">
                                                                                            </option><option value="West Champaran">
                                                                                            </option><option value="Gaya">
                                                                                            </option><option value="Aurangabad(Bh)">
                                                                                            </option><option value="Arwal">
                                                                                            </option><option value="Bhagalpuree">
                                                                                            </option><option value="Banka">
                                                                                            </option><option value="Munger">
                                                                                            </option><option value="Buxar">
                                                                                            </option><option value="Jehanabad">
                                                                                            </option><option value="Patna">
                                                                                            </option><option value="Sheikhpura">
                                                                                            </option><option value="Jamui">
                                                                                            </option><option value="Lakhisarai">
                                                                                            </option><option value="Nalanda">
                                                                                            </option><option value="Nawada">
                                                                                            </option><option value="Rohtas">
                                                                                            </option><option value="Kaimur (Bhabua)">
                                                                                            </option><option value="Kanker">
                                                                                            </option><option value="Bastar">
                                                                                            </option><option value="Dantewada">
                                                                                            </option><option value="Bijapur">
                                                                                            </option><option value="Narayanpur">
                                                                                            </option><option value="Bilaspur(Cgh)">
                                                                                            </option><option value="Janjgir-Champa">
                                                                                            </option><option value="Korba">
                                                                                            </option><option value="Durg">
                                                                                            </option><option value="Rajnandgaon">
                                                                                            </option><option value="Kawardha">
                                                                                            </option><option value="Surguja">
                                                                                            </option><option value="Raigarh">
                                                                                            </option><option value="Jashpur">
                                                                                            </option><option value="Koriya">
                                                                                            </option><option value="Raipur">
                                                                                            </option><option value="Mahasamund">
                                                                                            </option><option value="Dhamtari">
                                                                                            </option><option value="Gariaband">
                                                                                            </option><option value="East Delhi">
                                                                                            </option><option value="North East Delhi">
                                                                                            </option><option value="North West Delhi">
                                                                                            </option><option value="North Delhi">
                                                                                            </option><option value="Central Delhi">
                                                                                            </option><option value="New Delhi">
                                                                                            </option><option value="South Delhi">
                                                                                            </option><option value="South West Delhi">
                                                                                            </option><option value="West Delhi">
                                                                                            </option><option value="Ahmedabad">
                                                                                            </option><option value="Gandhi Nagar">
                                                                                            </option><option value="Banaskantha">
                                                                                            </option><option value="Mahesana">
                                                                                            </option><option value="Surendra Nagar">
                                                                                            </option><option value="Patan">
                                                                                            </option><option value="Sabarkantha">
                                                                                            </option><option value="Amreli">
                                                                                            </option><option value="Rajkot">
                                                                                            </option><option value="Junagadh">
                                                                                            </option><option value="Bhavnagar">
                                                                                            </option><option value="Jamnagar">
                                                                                            </option><option value="Porbandar">
                                                                                            </option><option value="Diu">
                                                                                            </option><option value="Kachchh">
                                                                                            </option><option value="Anand">
                                                                                            </option><option value="Kheda">
                                                                                            </option><option value="Surat">
                                                                                            </option><option value="Dang">
                                                                                            </option><option value="Tapi">
                                                                                            </option><option value="Navsari">
                                                                                            </option><option value="Vadodara">
                                                                                            </option><option value="Bharuch">
                                                                                            </option><option value="Narmada">
                                                                                            </option><option value="Dahod">
                                                                                            </option><option value="Panchmahal">
                                                                                            </option><option value="Valsad">
                                                                                            </option><option value="Dadra &amp; Nagar Haveli">
                                                                                            </option><option value="Daman">
                                                                                            </option><option value="Ambala">
                                                                                            </option><option value="Yamuna Nagar">
                                                                                            </option><option value="Panchkula">
                                                                                            </option><option value="Bhiwani">
                                                                                            </option><option value="Faridabad">
                                                                                            </option><option value="Gurgaon">
                                                                                            </option><option value="Rewari">
                                                                                            </option><option value="Mahendragarh">
                                                                                            </option><option value="Hisar">
                                                                                            </option><option value="Sirsa">
                                                                                            </option><option value="Fatehabad">
                                                                                            </option><option value="Karnal">
                                                                                            </option><option value="Panipat">
                                                                                            </option><option value="Jind">
                                                                                            </option><option value="Kaithal">
                                                                                            </option><option value="Kurukshetra">
                                                                                            </option><option value="Jhajjar">
                                                                                            </option><option value="Rohtak">
                                                                                            </option><option value="Sonipat">
                                                                                            </option><option value="Chamba">
                                                                                            </option><option value="Kangra">
                                                                                            </option><option value="Bilaspur (Hp)">
                                                                                            </option><option value="Hamirpur(Hp)">
                                                                                            </option><option value="Una">
                                                                                            </option><option value="Mandi">
                                                                                            </option><option value="Kullu">
                                                                                            </option><option value="Lahul &amp; Spiti">
                                                                                            </option><option value="Kinnaur">
                                                                                            </option><option value="Shimla">
                                                                                            </option><option value="Sirmaur">
                                                                                            </option><option value="Solan">
                                                                                            </option><option value="Bandipur">
                                                                                            </option><option value="Baramulla">
                                                                                            </option><option value="Kupwara">
                                                                                            </option><option value="Jammu">
                                                                                            </option><option value="Kathua">
                                                                                            </option><option value="Udhampur">
                                                                                            </option><option value="Poonch">
                                                                                            </option><option value="Kargil">
                                                                                            </option><option value="Leh">
                                                                                            </option><option value="Rajauri">
                                                                                            </option><option value="Reasi">
                                                                                            </option><option value="Srinagar">
                                                                                            </option><option value="Budgam">
                                                                                            </option><option value="Ananthnag">
                                                                                            </option><option value="Pulwama">
                                                                                            </option><option value="Kulgam">
                                                                                            </option><option value="Doda">
                                                                                            </option><option value="Dhanbad">
                                                                                            </option><option value="Bokaro">
                                                                                            </option><option value="Giridih">
                                                                                            </option><option value="Ramgarh">
                                                                                            </option><option value="Koderma">
                                                                                            </option><option value="Ranchi">
                                                                                            </option><option value="Simdega">
                                                                                            </option><option value="Lohardaga">
                                                                                            </option><option value="Khunti">
                                                                                            </option><option value="Deoghar">
                                                                                            </option><option value="Godda">
                                                                                            </option><option value="Jamtara">
                                                                                            </option><option value="Sahibganj">
                                                                                            </option><option value="Dumka">
                                                                                            </option><option value="East Singhbhum">
                                                                                            </option><option value="Bangalore">
                                                                                            </option><option value="Bangalore Rural">
                                                                                            </option><option value="Ramanagar">
                                                                                            </option><option value="Bagalkot">
                                                                                            </option><option value="Bijapur(Kar)">
                                                                                            </option><option value="Belgaum">
                                                                                            </option><option value="Davangere">
                                                                                            </option><option value="Bellary">
                                                                                            </option><option value="Bidar">
                                                                                            </option><option value="Dharwad">
                                                                                            </option><option value="Gadag">
                                                                                            </option><option value="Koppal">
                                                                                            </option><option value="Yadgir">
                                                                                            </option><option value="Gulbarga">
                                                                                            </option><option value="Haveri">
                                                                                            </option><option value="Uttara Kannada">
                                                                                            </option><option value="Raichur">
                                                                                            </option><option value="Chickmagalur">
                                                                                            </option><option value="Chitradurga">
                                                                                            </option><option value="Hassan">
                                                                                            </option><option value="Kodagu">
                                                                                            </option><option value="Chikkaballapur">
                                                                                            </option><option value="Kolar">
                                                                                            </option><option value="Mandya">
                                                                                            </option><option value="Dakshina Kannada">
                                                                                            </option><option value="Udupi">
                                                                                            </option><option value="Mysore">
                                                                                            </option><option value="Chamrajnagar">
                                                                                            </option><option value="Shimoga">
                                                                                            </option><option value="Tumkur">
                                                                                            </option><option value="Wayanad">
                                                                                            </option><option value="Kozhikode">
                                                                                            </option><option value="Malappuram">
                                                                                            </option><option value="Kannur">
                                                                                            </option><option value="Kasargod">
                                                                                            </option><option value="Palakkad">
                                                                                            </option><option value="Mahe">
                                                                                            </option><option value="Alappuzha">
                                                                                            </option><option value="Ernakulam">
                                                                                            </option><option value="Kottayam">
                                                                                            </option><option value="Pathanamthitta">
                                                                                            </option><option value="Idukki">
                                                                                            </option><option value="Thrissur">
                                                                                            </option><option value="Guwahati">
                                                                                            </option><option value="Asansol">
                                                                                            </option><option value="Bhubaneswar">
                                                                                            </option><option value="Sambalpur">
                                                                                            </option><option value="Latur">
                                                                                            </option><option value="Bargarh">
                                                                                            </option><option value="Bolangir">
                                                                                            </option><option value="Burla">
                                                                                            </option><option value="Rourkela">
                                                                                            </option><option value="Jharsuguda">
                                                                                            </option><option value="Hirakud">
                                                                                            </option><option value="Pune">
                                                                                            </option><option value="Amritsar">
                                                                                            </option><option value="Indirapuram">
                                                                                            </option><option value="Hosur">
                                                                                            </option><option value="Gwalior">
                                                                                            </option><option value="Mumbai">
                                                                                            </option><option value="Nashik">
                                                                                            </option><option value="Chennai">
                                                                                            </option><option value="Madurai">
                                                                                            </option><option value="Tirunelveli">
                                                                                            </option><option value="Trichy">
                                                                                            </option><option value="Sivakasi">
                                                                                            </option><option value="Thiruvunnamalai">
                                                                                            </option><option value="Karaikal">
                                                                                            </option><option value="Thttanchavady">
                                                                                            </option><option value="Puducherry">
                                                                                            </option><option value="Hubli">
                                                                                            </option><option value="Manglore">
                                                                                            </option><option value="Vijayawada">
                                                                                            </option><option value="Tuticorin">
                                                                                            </option><option value="Nagercoil">
                                                                                            </option><option value="Coimbatore">
                                                                                            </option><option value="Kondapur">
                                                                                            </option><option value="Namakkal">
                                                                                            </option><option value="Villupuram">
                                                                                            </option><option value="Ahmednagar">
                                                                                            </option><option value="Aurangabad">
                                                                                            </option><option value="Muzaffarnagar">
                                                                                            </option><option value="Ghaziabad">
                                                                                            </option><option value="Nagapattinam">
                                                                                            </option><option value="Mayiladuthurai">
                                                                                            </option><option value="Tirupathi">
                                                                                            </option><option value="Muktsar">
                                                                                            </option><option value="Mohali">
                                                                                            </option><option value="Ludhiana">
                                                                                            </option><option value="Jalandhar">
                                                                                            </option><option value="Pathankot">
                                                                                            </option><option value="Sri Muktsar Sahib">
                                                                                            </option><option value="Moga">
                                                                                            </option><option value="Ganganagar">
                                                                                            </option><option value="Bathinda">
                                                                                            </option><option value="Fazilka">
                                                                                            </option><option value="Faridkot">
                                                                                            </option><option value="Ferozpur">
                                                                                            </option><option value="Mansa">
                                                                                            </option><option value="Batala">
                                                                                            </option><option value="Rampura Phul">
                                                                                            </option><option value="Guru Har Sahai">
                                                                                            </option><option value="Kharar">
                                                                                            </option><option value="Patiala">
                                                                                            </option><option value="Zirakpur">
                                                                                            </option><option value="Baddi">
                                                                                            </option><option value="Chamkaur Sahib">
                                                                                            </option><option value="Nawanshahar(Sbs Nagar)">
                                                                                            </option><option value="Banur">
                                                                                            </option><option value="Sirhind">
                                                                                            </option><option value="Abohar">
                                                                                            </option><option value="Nalagarh">
                                                                                            </option><option value="Morinda">
                                                                                            </option><option value="Kurali">
                                                                                            </option><option value="Ropar">
                                                                                            </option><option value="Fatehgarh Churian">
                                                                                            </option><option value="Tapa">
                                                                                            </option><option value="Parwanoo">
                                                                                            </option><option value="Jalgaon">
                                                                                            </option><option value="Nagpur">
                                                                                            </option><option value="Amravati">
                                                                                            </option><option value="Navi Mumbai">
                                                                                            </option><option value="Alipurduar">
                                                                                            </option><option value="Solapur">
                                                                                            </option><option value="Thane">
                                                                                            </option><option value="Kolhapur">
                                                                                            </option><option value="Satara">
                                                                                            </option><option value="Dhule">
                                                                                            </option><option value="Karad">
                                                                                            </option><option value="Sangali">
                                                                                            </option><option value="Ratnagiri">
                                                                                            </option><option value="Yawatmal">
                                                                                            </option><option value="Akola">
                                                                                            </option><option value="Bhandara">
                                                                                            </option><option value="Buldana">
                                                                                            </option><option value="Chandrapur">
                                                                                            </option><option value="Gadchiroli">
                                                                                            </option><option value="Gondia">
                                                                                            </option><option value="Hingoli">
                                                                                            </option><option value="Chapra">
                                                                                            </option><option value="Ichalkaranji">
                                                                                            </option><option value="Washim">
                                                                                            </option><option value="Nanded">
                                                                                            </option><option value="Parbhani">
                                                                                            </option><option value="Yavatmal">
                                                                                            </option><option value="Wardha">
                                                                                            </option><option value="Pen">
                                                                                            </option><option value="Alibag">
                                                                                            </option><option value="Rasayani">
                                                                                            </option><option value="East Kameng">
                                                                                            </option><option value="East Siang">
                                                                                            </option><option value="Lohit">
                                                                                            </option><option value="Lower Dibang Valley">
                                                                                            </option><option value="Lower Subansiri">
                                                                                            </option><option value="Papum Pare">
                                                                                            </option><option value="Kamrupmetropolitan">
                                                                                            </option><option value="Sivasagar">
                                                                                            </option><option value="Bijapur Karnataka">
                                                                                            </option><option value="Thiruvananthapuram">
                                                                                            </option><option value="Trichur">
                                                                                            </option><option value="Ashoknagar">
                                                                                            </option><option value="Balaghat">
                                                                                            </option><option value="Barwani">
                                                                                            </option><option value="Betul">
                                                                                            </option><option value="Bhopal">
                                                                                            </option><option value="Chhatarpur">
                                                                                            </option><option value="Chhindwara">
                                                                                            </option><option value="Damoh">
                                                                                            </option><option value="Indore">
                                                                                            </option><option value="Jabalpur">
                                                                                            </option><option value="Katni">
                                                                                            </option><option value="Mandsaur">
                                                                                            </option><option value="Neemuch">
                                                                                            </option><option value="Panna">
                                                                                            </option><option value="Raisen">
                                                                                            </option><option value="Ratlam">
                                                                                            </option><option value="Rewa">
                                                                                            </option><option value="Sagar">
                                                                                            </option><option value="Satna">
                                                                                            </option><option value="Seoni">
                                                                                            </option><option value="Sidhi">
                                                                                            </option><option value="Singrauli">
                                                                                            </option><option value="Tikamgarh">
                                                                                            </option><option value="Ujjain">
                                                                                            </option><option value="Jalna">
                                                                                            </option><option value="Anugul">
                                                                                            </option><option value="Cuttack">
                                                                                            </option><option value="Dhenkanal">
                                                                                            </option><option value="Jajapur">
                                                                                            </option><option value="Kendrapara">
                                                                                            </option><option value="Jaipur">
                                                                                            </option><option value="Dindigul">
                                                                                            </option><option value="Allahabad">
                                                                                            </option><option value="Azamgarh">
                                                                                            </option><option value="Ghazipur">
                                                                                            </option><option value="Gorakhpur">
                                                                                            </option><option value="Jaunpur">
                                                                                            </option><option value="Kaushambi">
                                                                                            </option><option value="Lucknow">
                                                                                            </option><option value="Mau">
                                                                                            </option><option value="Mirzapur">
                                                                                            </option><option value="Sant Ravidas Nagar (Bhadohi)">
                                                                                            </option><option value="Hinganghat">
                                                                                            </option><option value="Bhandup">
                                                                                            </option><option value="Madhora">
                                                                                            </option><option value="Hajipur">
                                                                                            </option><option value="Biharsarif">
                                                                                            </option><option value="Irba">
                                                                                            </option><option value="Pataratu">
                                                                                            </option><option value="Jamshedpur">
                                                                                            </option><option value="Bhurkunda">
                                                                                            </option><option value="Chaibasa">
                                                                                            </option><option value="Chakradharpur">
                                                                                            </option><option value="Sinnar">
                                                                                            </option><option value="Sangamner">
                                                                                            </option><option value="Malegaon">
                                                                                            </option><option value="Bhusawal">
                                                                                            </option><option value="Chalisgaon">
                                                                                            </option><option value="Pimpri Chinchwad">
                                                                                            </option><option value="Gadhinglaj">
                                                                                            </option><option value="Kodoli">
                                                                                            </option><option value="Kagal">
                                                                                            </option><option value="Akkalkot">
                                                                                            </option><option value="Pandharpur">
                                                                                            </option><option value="Sangola">
                                                                                            </option><option value="Mangalwedha">
                                                                                            </option><option value="Kalyan">
                                                                                            </option><option value="Margherita">
                                                                                            </option><option value="Gogamukh">
                                                                                            </option><option value="Digboi">
                                                                                            </option><option value="Duliajan">
                                                                                            </option><option value="Naharkatia">
                                                                                            </option><option value="Doomdooma">
                                                                                            </option><option value="Tezpur">
                                                                                            </option><option value="Biswanath Chariali">
                                                                                            </option><option value="Dhekiajuli">
                                                                                            </option><option value="North Lakhimpur">
                                                                                            </option><option value="Tezpur Medical College">
                                                                                            </option><option value="Bihpuria">
                                                                                            </option><option value="Diphu">
                                                                                            </option><option value="Tangla">
                                                                                            </option><option value="Kamrup Rural">
                                                                                            </option><option value="Mirza">
                                                                                            </option><option value="Howli">
                                                                                            </option><option value="Pathsala">
                                                                                            </option><option value="Gauripur">
                                                                                            </option><option value="Rangia">
                                                                                            </option><option value="Kalwa">
                                                                                            </option><option value="West Kameng">
                                                                                            </option><option value="West Siang">
                                                                                            </option><option value="Jamalpur">
                                                                                            </option><option value="Mairwa">
                                                                                            </option><option value="Madhupur">
                                                                                            </option><option value="Beed">
                                                                                            </option><option value="Ambernath">
                                                                                            </option><option value="Dombivli">
                                                                                            </option><option value="Hazaribagh">
                                                                                            </option><option value="Bhabua">
                                                                                            </option><option value="Ramnagri More">
                                                                                            </option><option value="Vasai Virar">
                                                                                            </option><option value="Bhagalpur">
                                                                                            </option><option value="Varanasi">
                                                                                            </option><option value="Mangalagiri">
                                                                                            </option><option value="Vinukonda">
                                                                                            </option><option value="Narasaraopet">
                                                                                            </option><option value="Chilakaluripet">
                                                                                            </option><option value="Bapatla">
                                                                                            </option><option value="Tenali">
                                                                                            </option><option value="Sattenapalle">
                                                                                            </option><option value="Piduguralle">
                                                                                            </option><option value="Macherla">
                                                                                            </option><option value="Ponnuru">
                                                                                            </option><option value="Hyderebad">
                                                                                            </option><option value="Daltongonj">
                                                                                            </option><option value="Bijni">
                                                                                            </option><option value="Medchal-Malkajgiri District">
                                                                                            </option><option value="Medchal">
                                                                                            </option><option value="Khargone">
                                                                                            </option><option value="Bariatu">
                                                                                            </option><option value="Dhuliajhan">
                                                                                            </option><option value="Kochi">
                                                                                            </option><option value="Gudivada">
                                                                                            </option><option value="Machilipatnam">
                                                                                            </option><option value="Tiruvuru">
                                                                                            </option><option value="Nuzividu">
                                                                                            </option><option value="Nandigama">
                                                                                            </option><option value="Jaggaiahpeta">
                                                                                            </option><option value="Ongole">
                                                                                            </option><option value="Chirala">
                                                                                            </option><option value="Kandukur">
                                                                                            </option><option value="Markapur">
                                                                                            </option><option value="Cumbum">
                                                                                            </option><option value="Kanigiri">
                                                                                            </option><option value="Darsi">
                                                                                            </option><option value="Pamur">
                                                                                            </option><option value="Podili">
                                                                                            </option><option value="Tanguturu">
                                                                                            </option><option value="Addanki">
                                                                                            </option><option value="Eluru">
                                                                                            </option><option value="Bhimavaram">
                                                                                            </option><option value="Rajahmundry">
                                                                                            </option><option value="Kakinada">
                                                                                            </option><option value="Marhaura">
                                                                                            </option><option value="Raigad">
                                                                                            </option><option value="Prayagraj">
                                                                                            </option><option value="Maihar">
                                                                                            </option><option value="Mauganj">
                                                                                            </option><option value="Nagoud">
                                                                                            </option><option value="Hanumana">
                                                                                            </option><option value="Amarpatan">
                                                                                            </option><option value="Narsinghpur">
                                                                                            </option><option value="Gadarwara">
                                                                                            </option><option value="Burhar">
                                                                                            </option><option value="Kareli">
                                                                                            </option><option value="Lakhnadoun">
                                                                                            </option><option value="Sihora">
                                                                                            </option><option value="Barela">
                                                                                            </option><option value="Palghar">
                                                                                            </option><option value="Saidpur">
                                                                                            </option><option value="Guna">
                                                                                            </option><option value="Agartala">
                                                                                            </option><option value="Mungaoli">
                                                                                            </option><option value="Khordha">
                                                                                            </option><option value="Ekangarsarai">
                                                                                            </option><option value="Panjim">
                                                                                            </option><option value="Motipur">
                                                                                            </option><option value="Kalaburgi">
                                                                                            </option><option value="Silchar">
                                                                                            </option><option value="Chapra Saran">
                                                                                            </option><option value="Areraj">
                                                                                            </option><option value="Darbhnga">
                                                                                            </option><option value="Daltonganj">
                                                                                            </option><option value="Talere">
                                                                                            </option><option value="Khed">
                                                                                            </option><option value="Murgud">
                                                                                            </option><option value="Biaora">
                                                                                            </option><option value="Khurai">
                                                                                            </option><option value="Sangareddy">
                                                                                            </option><option value="Padrauna">
                                                                                            </option><option value="Saraiya">
                                                                                            </option><option value="Badnagar">
                                                                                            </option><option value="Jaora">
                                                                                            </option><option value="Bhadohi">
                                                                                            </option><option value="Maharajganj">
                                                                                            </option><option value="Badnawar">
                                                                                            </option><option value="Balasore">
                                                                                            </option><option value="Kusinagar">
                                                                                            </option><option value="Other">
                                                                                            </option><option value="Burdwan">
                                                                                            </option><option value="Durgapur">
                                                                                            </option><option value="Hooghly">
                                                                                            </option><option value="Kolkata">
                                                                                            </option><option value="North 24 Pgs">
                                                                                            </option><option value="Siliguri">
                                                                                            </option><option value="Bengaluru">
                                                                                            </option><option value="Achampet">
                                                                                            </option><option value="Bankura">
                                                                                            </option><option value="Barasat">
                                                                                            </option><option value="Birbhum">
                                                                                            </option><option value="Cooch Behar">
                                                                                            </option><option value="Darjeeling">
                                                                                            </option><option value="East Midnapore">
                                                                                            </option><option value="Howrah">
                                                                                            </option><option value="Islampur">
                                                                                            </option><option value="Jalpaiguri">
                                                                                            </option><option value="Krishnanagar">
                                                                                            </option><option value="Murshidabad">
                                                                                            </option><option value="Nadia">
                                                                                            </option><option value="Sodpur">
                                                                                            </option><option value="South 24 Pgs">
                                                                                            </option><option value="West Midnapore">
                                                                                            </option><option value="Secunderabad">
                                                                                            </option><option value="Margao">
                                                                                    </option></datalist>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-grid">
                                <div class="form-field">
                                    <div class="input-group">
                                        <label for="mobile">Mobile Number</label>
                                        <input type="number" name="mobile" class="mobile" value="" placeholder="Enter mobile number here">
                                    </div>
                                </div>
                            </div>
                            <div class="form-grid">
                                <div class="form-field">
                                    <div class="input-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" class="email" value="" placeholder="Enter email here">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-grid form-grid-texarea full-grid">
                                <div class="form-field">
                                    <div class="input-group query-input">
                                        <label for="Query">Address</label>
                                        <textarea type="text" name="Address" class="Query" placeholder="Enter your address"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="view-allBtn text-left">
                        <input type="hidden" name="PageID" value="11">
                        <input type="hidden" name="PageName" value="LupiMitra">
                        <input type="hidden" name="Location" value="">
                        <button class="btn">Submit</button>
                    </div>
                    </form>
                </div>
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

