@{
    ViewBag.Title = "Cookie Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BODY SECTION ======================-->
<div class="inner-page-section why-section">
	<div class="wrapper clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> > <span>Cookie Policy</span></p>
        </div>
    	 
         <div class="cms-content">
                    <p>This Cookie Policy explains what cookies and other similar technologies are and how we use them. You should read this policy to understand what cookies and other similar tracking technologies are, how we use them, the types of cookies we use i.e., the information we collect using cookies and how that information is used and how to control the cookie preferences. For further information on how we use, store and keep your personal data secure, see our&nbsp;<a href="https://lupinnewwebsite.azurewebsites.net/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a>.</p>
                    <p>&nbsp;</p>
                    <p>You can at any time change or withdraw your consent from the Cookie Declaration on our website. Learn more about who we are, how you can contact us and how we process personal data in our&nbsp;<a href="https://lupinnewwebsite.azurewebsites.net/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a>. Your consent applies to the following domains: lupin.com</p>
                    <p><strong>Manage your consent <a class="cookie-consent-bar--trigger" href="#">here</a></strong></p>
                    <p>&nbsp;</p>
                    <p><strong>What are cookies ?</strong></p>
                    <p>Cookies are small text files that are used to store small pieces of information. The cookies are stored on your device when the website is loaded on your browser. These cookies help us make the website function properly, make the website more secure, provide better user experience, and understand how the website performs and to analyze what works and where it needs improvement.</p>
                    <p><strong>&nbsp;</strong></p>
                    <p><strong>How do we use cookies ?</strong></p>
                    <p>As most of the online services, our website uses cookies first-party and third-party cookies for a number of purposes.</p>
                    <p>The first-party cookies are mostly necessary for the website to function the right way.</p>
                    <p>The third-party cookies used on our websites are used mainly for understanding how the website performs, how you interact with our website, keeping our services secure, providing advertisements that are relevant to you, and all in all providing you with a better and improved user experience and help speed up your future interactions with our website.</p>
                    <p>&nbsp;</p>
                    <p><strong>What types of cookies do we use ?</strong></p>
                    <p>The cookies used on our website are grouped into the following categories.</p>
                    <p><strong>Necessary</strong></p>
                    <p>Necessary cookies are absolutely essential for the website to function properly. These cookies ensure basic functionalities and security features of the website, anonymously.</p>
                    <table style="height: 855px; width: 717px;" border="1" cellspacing="0" cellpadding="0">
                    
                    <tbody><tr style="height: 47px;">
                    <td style="width: 222.516px; height: 47px;">
                    <p><strong>Cookie</strong></p>
                    </td>
                    <td style="width: 204.578px; height: 47px;">
                    <p><strong>Duration</strong></p>
                    </td>
                    <td style="width: 285.906px; height: 47px;">
                    <p><strong>Description</strong></p>
                    </td>
                    </tr>
                    <tr style="height: 108.422px;">
                    <td style="width: 222.516px; height: 108.422px;">
                    <p>ARRAffinity</p>
                    </td>
                    <td style="width: 204.578px; height: 108.422px;">
                    <p>6 months</p>
                    </td>
                    <td style="width: 285.906px; height: 108.422px;">
                    <p>This cookie is set by websites that run on Windows Azure cloud platform. The cookie is used to affinitize a client to an instance of an Azure Web App.</p>
                    </td>
                    </tr>
                    <tr style="height: 88.6094px;">
                    <td style="width: 222.516px; height: 88.6094px;">
                    <p>cookielawinfo-checkbox-advertisement</p>
                    </td>
                    <td style="width: 204.578px; height: 88.6094px;">
                    <p>6 months</p>
                    </td>
                    <td style="width: 285.906px; height: 88.6094px;">
                    <p>The cookie is set by GDPR cookie consent to record the user consent for the cookies in the category "Advertisement".</p>
                    </td>
                    </tr>
                    <tr style="height: 108.422px;">
                    <td style="width: 222.516px; height: 108.422px;">
                    <p>cookielawinfo-checkbox-analytics</p>
                    </td>
                    <td style="width: 204.578px; height: 108.422px;">
                    <p>6 months &nbsp;</p>
                    </td>
                    <td style="width: 285.906px; height: 108.422px;">
                    <p>This cookies is set by GDPR Cookie Consent WordPress Plugin. The cookie is used to remember the user consent for the cookies under the category "Analytics".</p>
                    </td>
                    </tr>
                    <tr style="height: 88.6094px;">
                    <td style="width: 222.516px; height: 88.6094px;">
                    <p>cookielawinfo-checkbox-functional</p>
                    </td>
                    <td style="width: 204.578px; height: 88.6094px;">
                    <p>6 months</p>
                    </td>
                    <td style="width: 285.906px; height: 88.6094px;">
                    <p>The cookie is set by GDPR cookie consent to record the user consent for the cookies in the category "Functional".</p>
                    </td>
                    </tr>
                    <tr style="height: 108.422px;">
                    <td style="width: 222.516px; height: 108.422px;">
                    <p>cookielawinfo-checkbox-necessary</p>
                    </td>
                    <td style="width: 204.578px; height: 108.422px;">
                    <p>6 months</p>
                    </td>
                    <td style="width: 285.906px; height: 108.422px;">
                    <p>This cookie is set by GDPR Cookie Consent plugin. The cookies is used to store the user consent for the cookies in the category "Necessary".</p>
                    </td>
                    </tr>
                    <tr style="height: 88.6094px;">
                    <td style="width: 222.516px; height: 88.6094px;">
                    <p>cookielawinfo-checkbox-others</p>
                    </td>
                    <td style="width: 204.578px; height: 88.6094px;">
                    <p>6 months</p>
                    </td>
                    <td style="width: 285.906px; height: 88.6094px;">
                    <p>The cookie is set by GDPR cookie consent to record the user consent for the cookies in the category "Other".</p>
                    </td>
                    </tr>
                    <tr style="height: 108.422px;">
                    <td style="width: 222.516px; height: 108.422px;">
                    <p>cookielawinfo-checkbox-performance</p>
                    </td>
                    <td style="width: 204.578px; height: 108.422px;">
                    <p>6 months</p>
                    </td>
                    <td style="width: 285.906px; height: 108.422px;">
                    <p>This cookie is set by GDPR Cookie Consent plugin. The cookie is used to store the user consent for the cookies in the category "Performance".</p>
                    </td>
                    </tr>
                    <tr style="height: 108.484px;">
                    <td style="width: 222.516px; height: 108.484px;">
                    <p>viewed_cookie_policy</p>
                    </td>
                    <td style="width: 204.578px; height: 108.484px;">
                    <p>6months</p>
                    </td>
                    <td style="width: 285.922px; height: 108.484px;">
                    <p>The cookie is set by the GDPR Cookie Consent plugin and is used to store whether or not user has consented to the use of cookies. It does not store any personal data.</p>
                    </td>
                    </tr>
                    
                    </tbody></table>
                    <p>&nbsp;</p>
                    <p><strong>Functional</strong></p>
                    <p>Functional cookies help to perform certain functionalities like sharing the content of the website on social media platforms, collect feedbacks, and other third-party features.</p>
                    <table style="width: 486.05pt;" border="1" cellspacing="0" cellpadding="0">
                    
                    <tbody><tr>
                    <td style="width: 150.25pt;">
                    <p><strong>Cookie</strong></p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p><strong>Duration</strong></p>
                    </td>
                    <td style="width: 7.0cm;">
                    <p><strong>Description</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 150.25pt;">
                    <p><strong>lupin_diagnostics_session</strong></p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p><strong>120 Minutes</strong></p>
                    </td>
                    <td style="width: 7.0cm;">
                    <p><strong>This cookie is used to store encrypted session information</strong></p>
                    <p><strong>&nbsp;</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 150.25pt;">
                    <p><strong>user_location</strong></p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p><strong>1 <a>year</a></strong></p>
                    </td>
                    <td style="width: 7.0cm;">
                    <p><strong>User’s preferred State, City, Area and pincode to deliver location specific services</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 150.25pt;">
                    <p><strong>user_city</strong></p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p><strong>1 <a>year</a></strong></p>
                    </td>
                    <td style="width: 7.0cm;">
                    <p><strong>Textual representation of city, used only for display purpose</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 150.25pt;">
                    <p><strong>XSRF-TOKEN</strong></p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p><strong>120 Minutes</strong></p>
                    </td>
                    <td style="width: 7.0cm;">
                    <p><strong>Website automatically generates a CSRF "token" for each active user session managed by the application. This token is used to verify that the authenticated user is the person actually making the requests to the application. Since this token is stored in the user's session and changes each time the session is regenerated, a malicious application is unable to access it.</strong></p>
                    <p><strong>Website stores the current CSRF token in an encrypted XSRF-TOKEN cookie that is included with each response generated by the framework.</strong></p>
                    </td>
                    </tr>
                    
                    </tbody></table>
                    <p>&nbsp;</p>
                    <p><strong>Performance</strong></p>
                    <p>Performance cookies are used to understand and analyze the key performance indexes of the website which helps in delivering a better user experience for the visitors.</p>
                    <table style="width: 486.05pt;" border="1" cellspacing="0" cellpadding="0">
                    
                    <tbody><tr>
                    <td style="width: 150.25pt;">
                    <p><strong>Cookie</strong></p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p><strong>Duration</strong></p>
                    </td>
                    <td style="width: 7.0cm;">
                    <p><strong>Description</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 150.25pt;">
                    <p>YSC</p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p>1 session</p>
                    </td>
                    <td style="width: 7.0cm;">
                    <p>This cookies is set by YouTube and is used to track the views of embedded videos and captures the number of views and is relevant to only one session.</p>
                    </td>
                    </tr>
                    
                    </tbody></table>
                    <p>&nbsp;</p>
                    <p><strong>Analytics</strong></p>
                    <p>Analytical cookies are used to understand how visitors interact with the website. These cookies help provide information on metrics the number of visitors, bounce rate, traffic source, etc.</p>
                    <table style="width: 658px;" border="1" cellspacing="0" cellpadding="0">
                    
                    <tbody><tr>
                    <td style="width: 148.85pt;">
                    <p><strong>Cookie</strong></p>
                    </td>
                    <td style="width: 5.0cm;">
                    <p><strong>Duration</strong></p>
                    </td>
                    <td style="width: 202.65pt;">
                    <p><strong>Description</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 148.85pt;">
                    <p>_ga</p>
                    </td>
                    <td style="width: 5.0cm;">
                    <p>1 year</p>
                    </td>
                    <td style="width: 202.65pt;">
                    <p>This cookie is installed by Google Analytics. The cookie is used to calculate visitor, session, campaign data and keep track of site usage for the site's analytics report. The cookies store information anonymously and assign a randomly generated number to identify unique visitors.</p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 148.85pt;">
                    <p>_gat_gtag_UA_139647988_1</p>
                    </td>
                    <td style="width: 5.0cm;">
                    <p>1 minute</p>
                    </td>
                    <td style="width: 202.65pt;">
                    <p>These cookies are set by Google Analytics which is a simple tool that helps us measure how users interact with our website. As a user navigates between web pages, Google Analytics records information about the page a user has visited, for example the URL of the page. The cookies themselves are used to 'remember' what a user has done on previous pages and interactions with our website.</p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 148.85pt;">
                    <p>_gid</p>
                    </td>
                    <td style="width: 5.0cm;">
                    <p>1 day</p>
                    </td>
                    <td style="width: 202.65pt;">
                    <p>This cookie is installed by Google Analytics. The cookie is used to store information of how visitors use a website and helps in creating an analytics report of how the website is doing. The data collected including the number visitors, the source where they have come from, and the pages visited in an anonymous form.</p>
                    </td>
                    </tr>
                    
                    </tbody></table>
                    <p>&nbsp;</p>
                    <p><strong>Advertisement</strong></p>
                    <p>Advertisement cookies are used to provide visitors with relevant ads and marketing campaigns. These cookies track visitors across websites and collect information to provide customized ads.</p>
                    <table style="width: 503.2pt;" border="1" cellspacing="0" cellpadding="0">
                    
                    <tbody><tr>
                    <td style="width: 168.4pt;">
                    <p><strong>Cookie</strong></p>
                    </td>
                    <td style="width: 122.2pt;">
                    <p><strong>Duration</strong></p>
                    </td>
                    <td style="width: 212.6pt;">
                    <p><strong>Description</strong></p>
                    </td>
                    <td>
                    <p>&nbsp;</p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 168.4pt;">
                    <p>IDE</p>
                    </td>
                    <td style="width: 122.2pt;">
                    <p>1 year</p>
                    </td>
                    <td style="width: 215.45pt;" colspan="2">
                    <p>Used by Google DoubleClick and stores information about how the user uses the website and any other advertisement before visiting the website. This is used to present users with ads that are relevant to them according to the user profile.</p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 168.4pt;">
                    <p>test_cookie</p>
                    </td>
                    <td style="width: 122.2pt;">
                    <p>15 minutes</p>
                    </td>
                    <td style="width: 215.45pt;" colspan="2">
                    <p>This cookie is set by doubleclick.net. The purpose of the cookie is to determine if the user's browser supports cookies.</p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 168.4pt;">
                    <p>VISITOR_INFO1_LIVE</p>
                    </td>
                    <td style="width: 122.2pt;">
                    <p>5 months 27 days</p>
                    </td>
                    <td style="width: 215.45pt;" colspan="2">
                    <p>This cookie is set by YouTube. Used to track the information of the embedded YouTube videos on a website.</p>
                    </td>
                    </tr>
                    
                    </tbody></table>
                    <p>&nbsp;</p>
                    <p><strong>Others</strong></p>
                    <p>Other uncategorized cookies are those that are being analyzed and have not been classified into a category as yet.</p>
                    <table style="width: 486pt;" border="1px" cellspacing="0" cellpadding="0">
                    
                    <tbody><tr>
                    <td style="width: 147.4pt;">
                    <p><strong>Cookie</strong></p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p><strong>Duration</strong></p>
                    </td>
                    <td style="width: 201.25pt;">
                    <p><strong>Description</strong></p>
                    </td>
                    </tr>
                    <tr>
                    <td style="width: 147.4pt;">
                    <p>ARRAffinitySameSite</p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p>session</p>
                    </td>
                    <td style="width: 201.25pt;">
                    <p>No description</p>
                    </td>
                    </tr>
                    <tr style="height: 49.95pt;">
                    <td style="width: 147.4pt;">
                    <p>CONSENT</p>
                    </td>
                    <td style="width: 137.35pt;">
                    <p>6months</p>
                    </td>
                    <td style="width: 201.25pt;">
                    <p>No description</p>
                    </td>
                    </tr>
                    
                    </tbody></table>
                    <p>&nbsp;</p>
                    <p>In addition to cookies, we may also collect data about your interaction with the services through web server logs and/or tracking pixels. A web server log is a file where website activity is stored. Tracking pixels (sometimes referred to as web beacons or clear GIFs) are tiny electronic tags with a unique identifier embedded in websites, online ads and/or email.&nbsp;</p>
                    <p>These technologies designed to provide usage information for purposes of analyzing and improving the performance of the services we provide to you.</p>
                    <p>&nbsp;</p>
                    <p><strong>Third-party plug-ins</strong></p>
                    <p>All information about the role of third-parties in processing the data collected via cookies or other tracking technologies is included in our <a>Privacy Policy</a>.</p>
                    <p>&nbsp;</p>
                    <p><strong>What data do we collect? </strong></p>
                    <p>The cookies may allow us or our partner to collect the following information about you:</p>
                    <ul>
                    <li>data relating to your device (including device ID, MAC address, IP address, operating system, device settings, in particular the language set, screen resolution, type of web browser),</li>
                    <li>data relating to your visits to our websites (e.g. time and length of your visit, date, sub-pages visited on our websites, search data),</li>
                    <li>your location (if you have given your separate consent),</li>
                    <li>information about advertising you have viewed, including information about links you have clicked,</li>
                    <li>information about your activities on other websites (if you have given your separate consent), including information on which websites you visit and how often.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>What is the legal basis for processing?</p>
                    <p>The processing of your personal data within the Website is based either on:</p>
                    <ul>
                    <li>your consent (in line with Article 6 (1) (a) GDPR) with respect to cookies which require a consent, or</li>
                    <li>under our legitimate interest (in line with Article 6 (1) (f) GDPR) with respect to cookies which are necessary to operate the Website.</li>
                    </ul>
                    <p>You have the right to withdraw your consent at any time or object to processing of your personal data made under our legitimate interest, by contacting us in accordance with our Privacy Policy. The withdrawal of consent shall not affect the lawfulness of processing based on consent before its withdrawal.</p>
                    <p>For more details on legal basis of processing please read our <a>Privacy Policy</a>.</p>
                    <p>&nbsp;</p>
                    <p><strong>How can I control the cookie preferences ?</strong></p>
                    <p>You can manage your cookies preferences by clicking on the “Settings” button and enabling or disabling the cookie categories on the popup according to your preferences.</p>
                    <p>Should you decide to change your preferences later through your browsing session, you can click on the “Privacy &amp; Cookie Policy” tab on your screen. This will display the consent notice again enabling you to change your preferences or withdraw your consent entirely.</p>
                    <p>In addition to this, different browsers provide different methods to block and delete cookies used by websites. You can change the settings of your browser to block/delete the cookies. To find out more out more on how to manage and delete cookies, visit wikipedia.org, www.allaboutcookies.org.</p>
                    </div>
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

