@{
    ViewBag.Title = "Logistics and IT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BODY SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/logistic-banner.png")">
    </div> 
</div>

<div class="inner-page-section why-section">
	<div class="wrapper clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> > <span> Logistics</span></p>
        </div>
    	 
         <div class="cms-content"> 
            <ul>
            	<li>Now see live temperature and live location of the sample, first time in India</li>
            	<li>Rest assured that your sample is delivered in the best possible manner</li>
            	<li>Uberisation of riders</li>
            	<li>Geotagging with centres</li>
            	<li>Real-time sample movement with barcode tracking/GPS</li>
            	<li>In-transit Registration of PuP samples starting soon</li>
            	<li>Real-time temperature visibility</li>
            </ul>
         </div>
    </div>
</div>
<div class="logic-outert">
	<div class="wrapper">
    	<h3>Multi model logistics connectivity:</h3>
    	<h2>Modes of Transport</h2>
    	<div class="logi-inner">
        	<div class="video-box-innner video-one">
            	<div class="video-pic">
                	<img src="@Url.Content("~/images/lo1.png")">
                </div>
                <div class="video-text"> 
                    <h3>Air</h3>
                </div>
            </div>
            <div class="video-box-innner video-one">
            	<div class="video-pic">
                	<img src="@Url.Content("~/images/lo2.png")">
                </div>
                <div class="video-text"> 
                    <h3>Air</h3>
                </div>
            </div>
            <div class="video-box-innner video-one">
            	<div class="video-pic">
                	<img src="@Url.Content("~/images/lo3.png")">
                </div>
                <div class="video-text"> 
                    <h3>Air</h3>
                </div>
            </div>
            <div class="video-box-innner video-one">
            	<div class="video-pic">
                	<img src="@Url.Content("~/images/lo4.png")">
                </div>
                <div class="video-text"> 
                    <h3>Air</h3>
                </div>
            </div>
        </div>
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

