@{
    ViewBag.Title = "Centre / Laboratories Locator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/entre-loation-banner.png")">
    </div> 
</div>
 
<!--=============== BODY SECTION ======================-->
<div class="inner-page-section why-section">
	<div class="wrapper clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> > <span>Centre/Laboratories Locator</span></p>
            <h3>We are present across 1200+ centres in India</h3>
            <p style=" text-transform:none; color:#000;">covering approximately 2500+ routine and specialized tests. To book an appointment, select the diagnostic centre closest to you. </p>
        </div>
    	<div class="centre-visit-outer">
            <div class="centre-visit clearfix"> 
                <div class="centre-visit-file">
                    <select> 
                            <option value="Select Disease">Select a State</option>
                             <option>  Hypertension  </option>
                            <option>  Allergy </option>
                             <option>  Rheumatoid Arthritis </option>
                            <option> Ankylosing Spondylitis </option>
                            <option> Arthritis </option>
                            <option> Osteoarthritis </option>
                            <option>  Meningitis </option>
                             <option> Leukemia (Blood Cancer) </option> 
                    </select>
                </div>
                <div class="centre-visit-file">
                    <select> 
                            <option value="Select Disease">Select a city</option>
                             <option>  Hypertension  </option>
                            <option>  Allergy </option>
                             <option>  Rheumatoid Arthritis </option>
                            <option> Ankylosing Spondylitis </option>
                            <option> Arthritis </option>
                            <option> Osteoarthritis </option>
                            <option>  Meningitis </option>
                             <option> Leukemia (Blood Cancer) </option> 
                    </select>
                </div>
                <div class="centre-visit-file">
                    <select> 
                            <option value="Select Disease" style="color:#fff;">Select pincode</option>
                             <option>  Hypertension  </option>
                            <option>  Allergy </option>
                             <option>  Rheumatoid Arthritis </option>
                            <option> Ankylosing Spondylitis </option>
                            <option> Arthritis </option>
                            <option> Osteoarthritis </option>
                            <option>  Meningitis </option>
                             <option> Leukemia (Blood Cancer) </option> 
                    </select>
                </div>
            </div> 
        </div> 
        <div class="center-box-outer clearfix">  
        	<div class="center-box">
            	<h3>NRL MUMBAI <span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div> 
        	<div class="center-box">
            	<h3>SL NASHIK<span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div> 
        	<div class="center-box">
            	<h3>SL PUNE<span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div>
        	<div class="center-box">
            	<h3>SL KOLKATA<span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div>  
        	<div class="center-box">
            	<h3>SL DELHI<span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div> 
        	<div class="center-box">
            	<h3>SL GUWAHATI<span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div> 
        	<div class="center-box">
            	<h3>SL CHANDIGAR<span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div> 
        	<div class="center-box">
            	<h3>SL CHANNI<span>LAB</span></h3>
            	<div class="center-details">
            		<p>National Reference Laboratory, Plot No.C-533, MIDC, TTC Industrial Area, Pawane NAVI MUMBAI, MAHARASHTRA, Pin Code : 400705</p> 
                </div>
                <div class="btn-sec">
                    <a href="@Url.Action("CbcTest","Test")">Know more </a>
                    <a href="@Url.Action("BookTest","Test")" class="btn">Book a Visit</a>
                </div>
            </div>  
        </div> 
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

