@{
    ViewBag.Title = "Our Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/doctor-banner.png")">
    </div> 
</div>
<!--=============== BODY SECTION ======================-->
<div class="inner-page-section inner-page-section">
	<div class="wrapper clearfix"> 
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> > <span>Our Doctors</span></p>
        </div>
    	<div class="clearfix doctor-head">
            <div class="management-box-left">
            	<div class="manage-pic">
                	<img src="@Url.Content("~/images/2Hx5vMAOQ5ukNTZ2pOej.png")">
                </div> 
            </div>
            <div class="management-box-right">
                <h2>Dr. Manish Karekar <span>General Manager - Operations</span></h2>
                <p>Manish Dattatraya Karekar, MD in pathology from Nair Hospital & TN Medical College Mumbai. He is an International Fellow of the College of American Pathology and a Technical Assessor for NABL. He has done his Health Care Management and Data Analytics from IIM- Kozhikode, Certified in Biostatistics from CMC Vellore, and Certified Six Sigma Black belt from Indian Statistical Institute – Pune.​He has been practicing Laboratory Physician for the past 16 years. Currently, he is GM – Operations at PATHLAB Diagnostics. Previously worked in Krsnaa Diagnostics Limited as COO, Metropolis Healthcare Limited, and Suburban Diagnostics in the capacity of Regional Referral Lab Head and Regional Head Rest of Maharashtra.​His Areas of Interest are Accreditation Compliances, Coagulation Assays, Immunoassays, Equipment Verifications, Risk Management, Process Audits, and. Kaizen in Total Testing Process.</p>
                 
            </div>
        </div>
        <div class="staff-section clearfix">
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/slOpWpIcaQ1EoNxZhfmo.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr. Namrata Parag Londhe</h3>
                    <p>Head of Department – Cytogenetics, NRL Navi- Mumbai</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/cZkt0djmvknkMtR4VtBF.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr. Harshali Anant Patil</h3>
                    <p>Head of Department – Molecular, NRL Navi- Mumbai</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/3eVDwwWWyd5WBcXTFfM9.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr Susmita Suresh Pol</h3>
                    <p>Head of Department – Molecular, NRL Navi- Mumbai</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/aEzU3igsLphk28L6oYQ7.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr Ronita Kumari Show</h3>
                    <p>Head of Department – Molecular, NRL Navi- Mumbai</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/27pvcFWV5NFUxyDProt2.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr. Md Ehtesham</h3>
                    <p>Head of Department – Molecular, NRL Navi- Mumbai</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/U1vFZz9iDyfX3QTdUPdQ.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr. Bijayesh Haldar</h3>
                    <p>Head of Department - Microbiology, RRL Kolkata</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/3Qr3GmhvnHO1BYPRK1pm.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr. Ripunjoy Deka</h3>
                    <p>Head of Department – Molecular, NRL Navi- Mumbai</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/3kxHuj1UgSnOiD6ErHRk.jpg")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Dr. Sagar Kulat</h3>
                    <p>Head of Department – Molecular, NRL Navi- Mumbai</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/27pvcFWV5NFUxyDProt2.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Mrs. Manju Gupta</h3>
                    <p>Director - PATHLAB Diagnostics Limited (Formerly known as Pathlab Healthcare Limited)</p>
                    <a href="#" class="btn staff-speech">Know more</a>
                </div>
            </div>
        </div>
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

