@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BODY SECTION ======================-->
<div class="inner-page-section inner-page-section">
	<div class="wrapper clearfix"> 
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> &gt; <span>Management</span></p>
        </div>
    	<div class="clearfix doctor-head">
            <div class="management-box-left">
            	<div class="manage-pic">																							
                	<img src="@Url.Content("~/images/N83inzMOXk8E69IRfYvv.png")">
                </div>
            </div>
            <div class="management-box-right">
                <h2>Mr. Ravindra Kumar CEO - PATHLAB Diagnostics Limited (Formerly known as Pathlab Healthcare Limited)</h2>
                <p>Mr. Ravindra Kumar is the CEO of PATHLAB Diagnostics Limited (Formerly known as Lupin Healthcare Limited). With a proven track record of over 20 years, Mr. Kumar has over 14 years of core diagnostics healthcare industry experience. He is focused on delivering sustained growth, building high performing teams, business process optimization, quality first mindset and empathetic customer experience.</p>
                <p>Prior to Lupin, Mr. Kumar was the COO & Director at Apollo Diagnostics and COO with Apollo Dialysis where he built the businesses from the ground and made them household brands. He had also been instrumental in building Dr Lal Path Labs as Head of Logistics and Retail Operations. He spent his early years in  Operations roles, working across various industries including Financial Services, Logistics and Supply Chain, and Oil & Energy.</p>
                <p>Mr. Kumar is an alumnus of St. Xavier College, Ranchi ,and holds a bachelor's degree in commerce. He is an MBA in International Business and Marketing from Asia Pacific Institute of Management, Delhi, and has earned a postgraduate degree in Supply Chain Management from IMT, Ghaziabad.</p>
            </div>
        </div>
        <div class="staff-section clearfix">
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/hEuXzlmlUU3NsQ8LkGRN.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Mrs. Manju Gupta</h3>
                    <p>Director - PATHLAB Diagnostics Limited (Formerly known as Pathlab Healthcare Limited)</p>
                    <a href="#" class="btn staff-speech">Read more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/kEbLRYeEAAglSkoDgyn9.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Mr. Nilesh D. Gupta</h3>
                    <p>Director - PATHLAB Diagnostics Limited (Formerly known as Pathlab Healthcare Limited)</p>
                    <a href="#" class="btn staff-speech">Read more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/KYpcacAdR4Fex3ctSC9f.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Mr. Rajeev Sibal</h3>
                    <p>Director - PATHLAB Diagnostics Limited (Formerly known as Pathlab Healthcare Limited)</p>
                    <a href="#" class="btn staff-speech">Read more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/N4XYTnBnaUlrlHMHpAD9.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Mr. Vishal Rathi</h3>
                    <p>Director - PATHLAB Diagnostics Limited (Formerly known as Pathlab Healthcare Limited)</p>
                    <a href="#" class="btn staff-speech">Read more</a>
                </div>
            </div>
        	<div class="staff-box">
            	<div class="staff-pic">
                	<span><img src="@Url.Content("~/images/MfqrF0rPeUAXj256qadT.png")"></span>
                </div>
            	<div class="staff-details">
                	<h3>Mr. Amit Kumar Gupta</h3>
                    <p>Director - PATHLAB Diagnostics Limited (Formerly known as Pathlab Healthcare Limited)</p>
                    <a href="#" class="btn staff-speech">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

