@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/contact-banner.png")">
    </div> 
</div>
 
<!--=============== BODY SECTION ======================-->
<div class="inner-page-section why-section">
	<div class="wrapper clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> > <span>Contact</span></p>
        </div>
    	<h3>Kindly get in touch with your queries or feedback</h3>
        <p>and our team will connect with you at the earliest. For any query, drop us a message and we will get in touch with you. </p>
    	<div class="contact-box-inner clearfix">
        	<div class="contact-box-left">
            	<div class="info-row">
                    <div class="info-col"><span> <img src="@Url.Content("~/images/map-mark-white.png")"> </span></div>
                    <div class="info-col">
                        <h4>Registered Office</h4>
                        <p>Swapnil Diagnostics Limited (Formerly known as Lupin Healthcare Limited), Kalpataru Inspire, 3rd Floor, Off Western Express Highway, Santacruz (East) <br>Mumbai, India - 400 055</p>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-col"><span> <img src="@Url.Content("~/images/map-mark-white.png")"> </span></div>
                    <div class="info-col">
                        <h4>National Reference Laboratory (NRL)</h4>
                        <p>C 533 TTC Industrial Area MIDC Pawane, Navi Mumbai, Mumbai,</p>
                        <p>Maharashtra, India - 400 705</p>
                        <a href="https://www.lupindiagnostics.com">www.lupindiagnostics.com</a>
                    </div>
				</div>
                <div class="info-row">
                    <div class="info-col"><span> <img src="@Url.Content("~/images/phone-white.png")"> </span></div>
                    <div class="info-col">
                        <h4>LupiConnect</h4>
                        <a href="tel:7030 300 400">7030 300 400</a>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-col"><span> <img src="@Url.Content("~/images/mail-white.png")"> </span></div>
                    <div class="info-col">
                        <h4>Mail ID</h4>
                        <a href="mailto:customerconnect@lupindiagnostics.com">customerconnect@lupindiagnostics.com</a>
                    </div>
                </div>
            </div>
            <div class="contact-box-right"> 
                <h3>Reach Us</h3>
                <form>
                    <div class="full-length">
                        <div class="fild-box">
                            <label>Name*</label>
                            <input type="text" placeholder="Name">
                        </div>
                    </div>  
                    <div class="full-length">
                      <div class="fild-box">
                            <label>Email</label>
                            <input type="text" placeholder="Email">
                        </div>
                    </div>   
                    <div class="full-length">
                      <div class="fild-box">
                            <label>Mobile</label>
                            <input type="text" placeholder="Mobile">
                        </div>
                    </div>   
                    <div class="full-length">
                      <div class="fild-box">
                            <label>Comment</label>
                            <textarea  placeholder="Comment"></textarea>
                        </div>
                    </div> 
                    <a href="#" class="btn">SUBMIT</a> 
                </form> 
            </div>
        </div>
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

