@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BODY SECTION ======================-->
<div class="inner-page-section why-section">
	<div class="wrapper clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> > <span>Privacy Policy</span></p>
        </div>
    	 <div class="cms-content">
                    <p>Welcome to PATHLAB Diagnostics, the online portal of Lupin Healthcare Limited (“<strong>Lupin Healthcare</strong>”). The domain name <a href="http://www.lupindiagnostics.com">www.lupindiagnostics.com</a> (“<strong>Platform</strong>”) is owned and managed by Lupin Healthcare. Lupin Healthcare intends to provide healthcare packages/tests and other health related services at affordable rates (“<strong>Services</strong>”) to customers, persons, entities or anyone who visits, deals with, transacts and uses or is interested in availing one or more Services provided through the Platform (“<strong>Users</strong>”). Lupin Healthcare is a public limited company, incorporated and existing under the laws of India having our registered office at 3rd Floor, Kalpataru Inspire, Off Western Express Highway, Santacruz (East), Mumbai - 400055.</p>
<p>This document (“<strong>Privacy Policy”</strong>) captures the manner of collection, storing, transmission, processing and protecting the information and personal data which is provided by the Users while using the (<strong>“Platform”</strong>).</p>
                    <p>&nbsp;</p>
                    <p>The Privacy Policy is a commitment from Lupin Healthcare to the Users, that personal data will be procured, stored with utmost caution and will be used only for the purpose for which the same has been obtained. Needless to mention, the personal data procured will be also used by Lupin Healthcare and therefore it is important to highlight and disclose its responsibilities, obligations and limitations in respect of the personal data.</p>
                    <p>&nbsp;</p>
                    <p><strong>1. Scope of the Privacy Policy</strong></p>
                    <p>The Privacy Policy covers the nature of personal data, which the Users will have to provide to book/ avail any of the Services available on the Platform. The Privacy Policy will cover the manner of safeguarding the personal data of Users along with highlighting the exceptional circumstances due to which Lupin Healthcare may be required to disclose the same. &nbsp;</p>
                    <p>&nbsp;</p>
                    <p><strong>2. Applicability </strong></p>
                    <p>The Privacy Policy will be applicable on the Users who use the Platform and by accessing/ booking any Service through the Platform, the User is deemed to have consented to provide his/her personal data.</p>
                    <p>&nbsp;</p>
                    <p>This Privacy Policy is published in compliance with Section 43A of the Information Technology Act, 2000, the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011 (“SPDI Rules”) and the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021. The Privacy Policy shall be subject to changes based on the Applicable laws as well as in case of changes in the Internal Policies of Lupin Healthcare.</p>
                    <p>&nbsp;</p>
                    <p>The User is expected to go through the <a href="https://www.google.com/">Terms and Conditions</a> and Privacy Policy before using the Platform.</p>
                    <p>&nbsp;</p>
                    <p><strong>3. Nature of Personal Data and the Stages when the same will be collected</strong></p>
                    <p>"Personal Data" shall mean any information that may be used to identify the User and includes but not limited to (i) first and last name with salutation, a home or other physical address and an email address or other contact information, whether at work or at home, (ii) age and gender (iii) correspondence address (iv) physical, physiological and mental health condition (v) sexual orientation (vi) Medical Records and History (vii) Biometric Information.</p>
                    <p>&nbsp;</p>
                    <p>When a User accesses the Platform or avails any of the Services, the User may provide, or Lupin Healthcare may collect certain information in respect of the User. Instances and stages which results in collection of Personal Data is mentioned below:</p>
                    <p>&nbsp;</p>
                    <ol style="list-style-type: lower-roman;">
                    <li><strong><u>While booking a Service</u></strong>- The User may be asked to populate certain Personal Data while attempting to book a particular Service available on the Platform.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <ol style="list-style-type: lower-roman;" start="2">
                    <li><strong><u>While making payment</u></strong>- Upon proceeding ahead, the User will be redirected to a third party site (<strong>“Payment Gateway”</strong>) for making payment. The User will have the option to make payment in cash upon receiving the Service or by way of online payment through (authorized/ authentic) third party sites. The manner of booking the Service is covered in Terms and Conditions.</li>
                    </ol>
                    <p>The User may update/ modify the information already provided on the Platform and while doing so the User may have to go through a verification process. This verification process will ensure that the Personal Data provided by the User is not misused by anyone. This will also ensure that the Personal Data of the User is safeguarded.</p>
                    <p>Once the User has transacted/ used the Service available on the Platform, the information shared thereof may be stored by the Platform to make it convenient for the User to book another Service through the Platform in future. The Personal Data shared by the User shall be retained upto two (2) years, post which the information shall be deleted from the Platform. User can collect the report from any of the PATHLAB Diagnostics centers.</p>
                    <p>&nbsp;</p>
                    <ol style="list-style-type: lower-roman;" start="3">
                    <li><strong><u>While browsing the Services</u></strong>-Even when a prospective User is browsing the Services of the Platform, certain information such as IP address of User’s server from where the Platform is being accessed, the type of browser, the operating system of User’s system may be stored in server logs. Such information is collected indirectly and automatically about User’s activities on the Platform by way of cookies. A cookie is a small amount of data that is stored in the User’s device after User browses a website. This information is collected to analyze trends, administer the site and track a User’s movement for aggregate use. Although this information is maintained distinctly but the same is not linked to Personal Data.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <ol style="list-style-type: lower-roman;" start="4">
                    <li><strong><u>Once the Service is availed by the User</u></strong>- Once the User has received the Service, a test report will be generated which will be stored in the Platform for a period of two (2) years, post which the same shall be deleted from the Platform. If required, User can also collect the test reports from any of the PATHLAB Diagnostics centers.</li>
                    </ol>
                    <p>&nbsp;</p>
                    <p><strong>4. How Lupin Healthcare protects Personal Data of User’s</strong></p>
                    <p>The Personal Data collected by Lupin Healthcare is used only for the purpose of providing the requisite Services to the User. The Platform is appropriately encrypted and there are adequate security measures to guard against unauthorized use. Lupin Healthcare maintains a strict "No-Spam" policy, which means that Lupin Healthcare does not intend to sell, rent or otherwise give User’s e-mail address to a third party without obtaining User’s prior consent.</p>
                    <p>&nbsp;</p>
                    <p>Lupin Healthcare takes User’s right to privacy very seriously and other than as specifically stated in this Privacy Policy, Lupin Healthcare shall disclose User’s information only in the event it is required to be done by law, including an enforcement agency, governmental official, legal authority or similar requirements or when Lupin Healthcare, in its sole discretion, deems it necessary in order to protect its rights or the rights of others, to prevent harm to persons or property, to fight fraud and credit risk, or to enforce or apply the Terms of Use.</p>
                    <p>&nbsp;</p>
                    <p>Lupin Healthcare uses appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of Personal Data and restricts access of the same to Lupin Healthcare’s employee’s only on need-to-know basis. In case Lupin Healthcare comes across any User or third party, who has manipulated with the Personal Data stored in the Platform, then Lupin Healthcare shall be entitled to take appropriate action against such User or third party.</p>
                    <p>&nbsp;</p>
                    <p><strong>5. Disclaimer</strong></p>
                    <p>While booking the Service through the Platform, User is directed to approved Payment Gateways which are digitally encrypted, thereby providing the highest possible degree of care as per current technology. These Payment Gateways are not controlled and/or managed and/or monitored by Lupin Healthcare and hence Lupin Healthcare shall not be responsible or liable for any loss or damage caused to the User in this regard.</p>
                    <p>While User visits the Platform to view the Services provided therein, certain pop-up advertisements may appear on User’s Screen based on User’s activity on Internet. Lupin Healthcare does not play any role in the same and shall not be responsible for the said content.</p>
                    <p>&nbsp;</p>
                    <p><strong>6. Miscellaneous </strong></p>
                    <p><strong>6.1. General Provision</strong>- User shall not host, display, upload, modify, publish, transmit, store, update or share any information that: (i) belongs to another person or is defamatory or invasive of another's privacy ii) infringes any patent, trademark, copyright or other proprietary rights; iii) violates any law for the time being in force; iv) contains software virus (v) is patently false and untrue, and is written or published in any form, with the intent to mislead or harass a person, entity or agency for financial gain or to cause any injury to any person.</p>
                    <p>&nbsp;</p>
                    <p><strong>6.2. Changes to the Policy</strong>- Lupin Healthcare reserves the right to update, change or modify this Privacy Policy at any time. The amendment version of the Privacy Policy shall be effective from the date on which the Privacy Policy is published on Platform.</p>
                    <p>&nbsp;</p>
                    <p><strong>6.3. Governing law</strong>- The Terms and Privacy Policy shall be governed by Indian Laws and any dispute shall be subject to the exclusive jurisdiction of the Courts in Mumbai, India.</p>
                    <p>&nbsp;</p>
                    <p><strong>6.4. Waiver</strong>- Failure by Lupin Healthcare to exercise any right/ remedy available under the Terms shall not be waiver of such right or remedy.</p>
                    <p><strong>6.5 Force Majeure</strong>- Lupin Healthcare shall endeavor to provide complete Services as booked by the User but failure to provide any Service due to Act of god such as fire, floods, acts of terrorism, weather, death, serious injury or other catastrophes, epidemics or quarantine restrictions, pandemics, lockdown imposed by the Government or any other local authority or other cause(s) beyond the reasonable control of Lupin Healthcare, not reasonably foreseeable, not caused by acts or omissions of Lupin Healthcare shall not make Lupin Healthcare responsible or liable for such failure.</p>
                    <p>&nbsp;</p>
                    <p><strong>7. Grievance office</strong>- In case of any concerns/ questions/ disputes, Users and/ or Service Providers may send out an email to <a href="mailto:customerconnect@lupindiagnostics.com">customerconnect@lupindiagnostics.com</a>. The details of the grievance officer may be changed by Lupin Healthcare from time to time by updating this Privacy Policy.</p>
                    <p>&nbsp;</p>
                    <p><strong>8. Application</strong></p>
                    <p><strong>8.1 - </strong>PATHLAB Diagnostics Ltd. Home Collection application and Logistic application are part of Innopath IT Solution which is developed by ITDose Infosystem pvt. ltd.</p>
                    <p><strong>8.2 - </strong>Application uses the notification to show the upcoming job assigned to the Phlebotomist</p>
                    <p><strong>8.3 - </strong>PATHLAB Diagnostics Ltd. Home Collection application and Logistic application uses location tracker to help reach the phlebotomist to patient location.</p>
                    <p><strong>8.4 - </strong>Application uses camera to capture phlebotomist self-photo to capture his/her attendance and dress code.</p>
                    <p>&nbsp;</p>
                </div>
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

