@{
    ViewBag.Title = "Pathlab Health Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=============== BANNER SECTION ======================-->
<div class="banner-outer">
	<div class="banner-box">
    	<img src="@Url.Content("~/images/pathlab-health-packages-banner.jpg")">
    </div> 
</div>
 
<!--=============== BODY SECTION ======================-->
<div class="inner-page-section why-section">
	<div class="wrapper clearfix">
    	<div class="path-box">
        	<p><a href="@Url.Action("Index","Home")">Home</a> &gt; <span>Pathlab Health Packages</span></p>
        </div>
    	<div class="get-touch-outer">
        	<h2>Get In Touch</h2> 
             <div class="get-touch-fild clearfix">
            	<div class="half-length">
                	<div class="fild-box"> 
                        <input type="text" placeholder="Enter your first name and last name">
                    </div>
                </div>
            	<div class="half-length">
                	<div class="fild-box"> 
                        <input type="text" placeholder="Enter your 10 Digit mobile number">
                    </div>
                </div>
            	<div class="full-length">
                	<div class="fild-box"> 
                        <select>
                        	<option>Kolkata</option>
                        	<option>Delhi</option>
                        	<option>Mumbai</option>
                        	<option>Chennai</option> 
                        </select>
                    </div>
                </div> 
            	<div class="full-length">
                	<div class="fild-box">
                    	<button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div> 
        <div class="center-box-outer clearfix"> 
        	<div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>AGlucose-6 Phosphate Dehydrogenase (G6PD), Qualitative <span>₹150</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                </div> 
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>
            </div>   
            <div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>Glucose-6 Phosphate Dehydrogenase (G6PD), Quantitative <span>₹250</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                </div> 
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>
            </div>
            <div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>1,3 BETA-D-GLUCAN<span>₹140</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                </div>
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>  
            </div>
            <div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>14q32.3 by FISH IGH gene rearrangement (ALL, NHL) Bone <span>₹350</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                	<p>Lupikavach Vitamin Check is a vitamin test that checks for three parameters, i.e</p>
                </div> 
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>
            </div>
            <div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>17 -OH Progesterone (17-Hydroxy Progesterone) <span>₹230</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                </div> 
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>
            </div>
            <div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>17-Ketosteroids, 24Hrs.Urine <span>₹100</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                </div> 
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>
            </div>
            <div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>1p & 19q co deletion by FISH <span>₹280</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                </div> 
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>
            </div>
            <div class="center-box center-box-two">
            	<div class="center-head">
            		<h3>3-Methyl Histidine Quantitative, Spot Urine <span>₹150</span></h3> 
                </div>
                <div class="include">
                	<p>Includes<br>1 Test Parameter(s)</p>
                </div> 
                <div class="center-box-btn clearfix"> 
                    <a href="#" class="book-btn book-log"><i class="fa fa-cart-arrow-down"></i></a>
                </div>
            </div>
        </div> 
    </div>
</div>
 

<!--=============== POPULER TEST SECTION ======================-->
<div class="all-test-section-box">
	<div class="clearfix">  
            <div class="text-box">
                <div class="title clearfix">
                   <h3>Popular Test </h3>
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">CBC Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Amylase Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Bilirubin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Blood Glucose Fasting (FBS) </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">C-peptide Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">CRP Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Dengue Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Ferritin Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Food Intolerance Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">HbA1C test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Iron Studies Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Liver Function Test </a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Renal Function Test </a></li> 
                </ul>
            </div>
            <div class="text-box">
                <div class="title clearfix">
                    <h3>Our Presence in Your City (NAVI MUMBAI)</h3> 
                   <div class="line"></div>
                </div> 
            </div> 
            <div class="text-box text-box-last">
                <div class="title clearfix">
                    <h3>Test by Health Conditions </h3> 
                   <div class="line"></div>
                </div>
                <ul class="clearfix">
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Mumbai</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Pune</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Rachi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolkat</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nashik</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bhopal</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in INdor</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Raipur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Varanasi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Jabalpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Hyderabad</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Channi</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Nagpur</a></li>
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Siliguri</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Guwahati</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Kolhapur</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Bengaluru</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Derjeeling</a></li> 
                    <li><a href="@Url.Action("CbcTest","Test")">Pathology Lab in Navi Mumbai</a></li> 
                </ul>
            </div> 
    </div>
</div>

